/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cursor-pointer { cursor: pointer; }

/* Material Overrides */
button.mat-button {
    border-radius: 0px;
}

.mat-chip.mat-standard-chip {
    font-size: 12px;
    min-height: 24px;
}

.mat-tab-group.mat-primary .mat-ink-bar {
    height: 1px;
    background-color: gray;
}

.mat-tab-labels > .mat-tab-label {
    height: 36px;
    justify-content: start;
    padding-left: 0.25rem;
}
.mat-chip {font-size: 10px}
.mat-card-header .mat-card-title {font-size: 16px}
.mat-card-header.shrink-header .mat-card-title {font-size: 18px; margin-bottom: 0.25rem}
.mat-card-header.shrink-header .mat-card-subtitle {margin-bottom: 0.25rem}

/* My Card CSS */
mat-card.my-card {
    padding: 0px;
    border-radius: 0px;
    border: 1px solid rgba(211, 211, 211, 0.3);
    user-select: none;
}

.my-card.disabled {
    filter: invert(0.05);
}

.my-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.my-card-content {
    padding: 0 16px;
}
