/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Perfect Scrollbar CSS */
.ps.ps--scrolling-y > .ps__rail-y {
    background-color: transparent !important;
}