<div class="background" [class.background-dark]="selectedTheme === themes.Dark">
    <div class="layout" [class.filter-invert]="selectedTheme === themes.Dark" #canvas>
        <div class="banner text-center user-select-none">
            <h2 class="my-2">
                {{content.bannerTitle}}
                <angular-emojis [name]="'wave'" size="30"></angular-emojis>
            </h2>
            <h5 class="lead">{{content.bannerSubtitle}}</h5>
        </div>

        <div class="content">
            <ng-content></ng-content>
        </div>

        <div class="theme-toggle">
            <button mat-mini-fab class="bg-transparent m-2" (click)="toggleTheme()">
                <ng-container *ngIf="selectedTheme === themes.White; else darkThemeIcon">
                    <angular-emojis name="crescent_moon" size="20"></angular-emojis>
                </ng-container>
                <ng-template #darkThemeIcon><angular-emojis name="sun_with_face" size="20"></angular-emojis></ng-template>
            </button>
        </div>

        <div class="controls">
            <button mat-mini-fab class="d-none d-lg-block bg-transparent m-2" (click)="toggleOrbitalControls()"
                matTooltip="Enable dragging, zooming and panning on the 3D canvas with your mouse">
                <mat-icon style="color: lightgray">{{ isOrbitalControlsEnabled ? 'lock_open' : 'lock' }}</mat-icon>
            </button>
        </div>
    </div>
</div>
