.background {
    width: 100%;
    height: 100%;
    padding: 5rem 7rem 5rem 7rem;
    background: gainsboro;
}

.background-dark {
    background:	rgb(12, 12, 12);
}

.filter-invert {
    filter: invert();
}

.layout {
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 100%;
    box-shadow: 8px 10px 25px -5px rgba(0, 0, 0, 0.2);
}

.content { 
    position: absolute;
    z-index: 2;

    height: 100%;
    width: 60%;
    right: 0px;
    border-radius: 0px;
    
    background: rgba(255, 255, 255, 0.6);

}

.theme-toggle {
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(5px);
}

@media only screen and (max-width: 992px) {
    .content {
        width: 100%;
        /* height: 70%; */

        bottom: 5px;
        padding: 10px;
    }
}
