<mat-tab-group mat-stretch-tabs animationDuration="300ms" 
  [(selectedIndex)]="activeTabIndex" (selectedIndexChange)="setTabIndex($event)"
  ngSwipe (swipeEnd)="onSwipeEnd($event)">
  <mat-tab *ngFor="let section of content.sections; let i = index" [label]="section.title">
    <div class="my-4" *ngIf="i === 0"></div>
    <h3 class="m-1 my-3" *ngIf="i > 0">{{ section.title }}</h3>

    <ng-container *ngIf="i === 0">
      <div class="row g-0">
        <div class="col-12 col-md-3 p-1"
          *ngFor="let overviewSection of content.sections | slice:1; let tabIndex = index" (click)="goToTab(tabIndex + 1)">
          <mat-card class="my-card" [class.gradient-border]="true">
            <mat-card-header class="cursor-pointer shrink-header">
              <mat-card-title>{{ overviewSection.title }}</mat-card-title>
              <mat-card-subtitle>{{ overviewSection.description }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </ng-container>
  
    <ng-container *ngFor="let subsection of section.subsections">
      <h4 class="m-1 mb-2 mt-3 lead">{{ subsection.title }}</h4>
  
      <div class="row g-0">
        <ng-container *ngFor="let card of subsection.content">
          <app-mat-card *ngIf="!card.isParagraph"
            class="col-12 p-1"
            [card]="card">
          </app-mat-card>

          <app-mat-paragraph-card *ngIf="card.isParagraph"
            class="col-12 p-1 mb-2"
            [card]="card">
          </app-mat-paragraph-card>

        </ng-container>
      </div>
    </ng-container>
  </mat-tab>
</mat-tab-group>